<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>229855003455-l3uedn4de6fhu8rlthstsrr8djb6kvjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229855003455-l3uedn4de6fhu8rlthstsrr8djb6kvjr</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Ztu9-sws67WAGHhyD49tBvdP60UyaZk</string>
	<key>GCM_SENDER_ID</key>
	<string>229855003455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projects.zsocial</string>
	<key>PROJECT_ID</key>
	<string>zsocial-9660f</string>
	<key>STORAGE_BUCKET</key>
	<string>zsocial-9660f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:229855003455:ios:8fa7106800f0b7ff</string>
	<key>DATABASE_URL</key>
	<string>https://zsocial-9660f.firebaseio.com</string>
</dict>
</plist>